# DEPENDENCIES ----------------------------------------------------------------
node_modules
dist
bin

# IDE & FILES -----------------------------------------------------------------
.vscode
.idea
*.min.*
*.lock
*.log
*.png
